* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../Images/biblioteca.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.section {
    width: 60%;
    height: 400px;
    margin-right: 20%;
    margin-left: 20%;
}

.container img {
    width: 100%;
    height: 500px;
}

.background {
    background-color: #EEF1F1;
}

.container form {
    padding: 12px;
}

.container table {
    padding: 15px;
}

table thead {
    background-color: rgb(66, 65, 65);
    color: #EEF1F1;
    text-align: center;
}

li a {
    font-size: 10px;
}

.contenedor {
    overflow-x: auto;
}

tbody tr:hover {
    background-color: rgb(255, 255, 255);
}

#cantidad {
    width: 60px;
}

.busqueda {
    margin-left: 15px;
}

.modal-registro {
    background-color: rgb(66, 65, 65);
    height: 50px;
    color: white;
}

.modal-registro h4 {
    padding: 12px;
    text-align: center;
}

.container h1 {
    text-align: center;
    background-color: rgb(66, 65, 65);
    margin-bottom: 0;
    color: white;
    padding: 5px;
}

.container h5 {
    background-color: rgb(66, 65, 65);
    margin-bottom: 0;
    color: white;
    float: right;
}

.modal-content p{
    text-align: center;
}

.modal-title{
    text-align: center;
}

h5 span{
    font-size: 45px;
    margin-left: 12px;
    color: darkgoldenrod;
}

.modal-body p{
    font-size: 20px;
}
.modal-title{
    text-align: center !important;
}